@font-face {
    font-family: "Montserrat";
    font-weight: 400;
    font-style: normal;
    src: url("Montserrat-Regular.ttf") format('truetype');
}

* {
	font-family: Montserrat;
	font-size: small;
	/* background-color: black; */
}

html {
	overflow-x: hidden;
	overflow-y: hidden;
}

body {
	overflow-y: hidden;
	overflow-x: hidden;
}

input[type=text] {
	background-color: black;
	text-align: center;
	align-self: left;
	width: 75px;
	color:white;
}

input[type="checkbox"] {
	accent-color: red;
}

/* checkbox shit from w3cschools modded by me */
/* The container */
.container {
	display: block;
	position: relative;
	padding-left: 25px;
	/* margin-bottom: 10px; */
	cursor: pointer;
	/* font-size: 22px; */
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* hide default checkbox */
.container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

/* Create a custom checkbox */
.checkmark {
	position: absolute;
	top: 0;
	left: 2px;
	height: 20px;
	width: 20px;
	background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
	background-color: white;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
	background-color: black;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
	display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
	left: 7.2px;
	top: 4px;
	width: 4px;
	height: 8px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
/* end of w3schools stuff */

#binds {
	text-align: left;
	color: white;
}

#logoSection {
	width: 400px;
	height: 225px;
}

#buttonHolder {
	width:250px;
	height:310px;
	text-align: center;
	border-style: dashed;
	border-width: 1px;
	border-color: #707070;
	color:white;
}

#previewSection {
	width: 400px;
	height: 355px;
	display: inline-block;
	color: white;
}

button {
	margin-top:10px;
	margin-bottom:10px;
	background-color: black;
	opacity: 1;
	font-size: medium;
	color:white;
}

button:hover {
	cursor:pointer;
	opacity: .8;
}

/* Let's get this party started */
::-webkit-scrollbar {
    width: 13px;
    opacity: 0;
}
 
/* Track */
::-webkit-scrollbar-track {
opacity: 0;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(17, 17, 17, 1); 
    opacity: 0;
}

::-webkit-scrollbar-button {
	height: 10px;
	width: 13px;
	background: rgba(70, 70, 70, 1); 
	opacity: 0;
}

::-webkit-scrollbar-button:vertical:increment {
	width: 13px;
	opacity: 0;
}

::-webkit-scrollbar-button:vertical:decrement {
	width: 13px;
	opacity: 0;
}